.carousel-item{
height: 40vw;
}




.menu {
    display: flex-box;
    width: 24rem;
    background-color: aqua;
    border: brown solid 2px;
    padding: 2px;
}

.card-header{
    font-size: 1.7rem;
    text-align: center;
}

.navbar-logo{
    margin-top: -6px;
    height: 40px;
    width: 40px;
}
